.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.form {
    width: 100% !important;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-div {
    width: 60% !important;
    margin: 0 auto;
}

.form-btn {
    width: 100%;
    padding: 10px 0 !important;
}

.bg-control {
    background-color: white !important;
}

.form-text {
    font-size: 14px;
    
}